body {
  display: flex;
  flex-direction: row;
  font-family: 'Indie Flower', cursive;
  background-color: #ff6666;

}

body div {
  text-align: center;
  width: 75%;
  border: 1px;
  border-style: solid;
  margin: 0 auto;
  padding: 10px;
}
